# Printing

In [1]:
#Basic python program
print("Hello World")

Hello World

# Drawing a shape

In [2]:
#The order of the instructions actually matters
print("   /|")
print("  / |")
print(" /  |")
print("/___|")

   /|
  / |
 /  |
/___|

# Variables and Data types

In [3]:
print("There once was a man named George")
print("he was 70 years old.")
print("He really liked the name George,")
print("but didn't like being 70.")

There once was a man named George
he was 70 years old.
He really liked the name George,
but didn't like being 70.

In [4]:
#To change the names and age 
#Using variable to store the name and age
#The name and age can be changed by modifying the values of the variables
character_name = "John"
character_age = "35"
print("There once was a man named " + character_name + "," )
print("he was " + character_age +  " years old.")
print("He really liked the name " + character_name + ",")
print("but didn't like being " + character_age + ".")

There once was a man named John,
he was 35 years old.
He really liked the name John,
but didn't like being 35.

In [5]:
character_name = "John"
character_age = "35" #As string
print("There once was a man named " + character_name + "," )
print("he was " + character_age +  " years old.")
#Modifying the variable
character_name = "Mike"
print("He really liked the name " + character_name + ",")
print("but didn't like being " + character_age + ".")

There once was a man named John,
he was 35 years old.
He really liked the name Mike,
but didn't like being 35.

In [6]:
character_name = "John" #String
character_age = "35" #String
character_age = 50 #Interger
average = 50.565588 #Float
isMale = True # Boolean

3 basic types of data in Python - Strings(Plain Text), Numbers(Whole Numbers, Decimal Number), Boolean (True / False Values)

# Working with Strings

In [7]:
print("Giraffe Academy")

Giraffe Academy

In [8]:
#To create new line
print("Giraffe\nAcademy")

Giraffe
Academy

In [9]:
#To print a quotation mark
print("Giraffe\"Academy")

Giraffe"Academy

In [10]:
#To print a normal back slash
print("Giraffe\Academy")

Giraffe\Academy

In [11]:
phrase = "Giraffe Academy"
print(phrase)

Giraffe Academy

In [12]:
#Concatenation
phrase = "Giraffe Academy "
print(phrase + "is cool")

Giraffe Academy is cool

Common functions with strings

In [13]:
phrase = "Giraffe Academy "
print(phrase.lower()) #To convert the whole string to lower case

giraffe academy

In [14]:
phrase = "Giraffe Academy "
print(phrase.upper()) #To convert the whole string to upper case

GIRAFFE ACADEMY

In [15]:
phrase = "Giraffe Academy "
print(phrase.isupper()) #To check the entire string is in upper case

False

Using functions in combination with each other

In [16]:
phrase = "Giraffe Academy "
print(phrase.upper().isupper()) 
#Coverts the strings into upper case first, then check whether the entire string is upper or not

True

In [17]:
phrase = "Giraffe Academy "
print(len(phrase)) #To find the length of the string

16

In [18]:
#To figure out first character in the string
#String gets indexed starting with zero
phrase = "Giraffe Academy "
print(phrase[0])

G

In [19]:
#To access first a
phrase = "Giraffe Academy "
print(phrase[3])

a

In [20]:
#Index function
#To actually locate a character
phrase = "Giraffe Academy "
print(phrase.index("G"))

0

In [21]:
phrase = "Giraffe Academy "
print(phrase.index("a"))

3

In [22]:
phrase = "Giraffe Academy "
print(phrase.index("Acad")) #To get the starting index of it

8

In [23]:
#Replace function
phrase = "Giraffe Academy "
print(phrase.replace("Giraffe","Elephant")) #This will replace the Giraffe with Elephant

Elephant Academy

# Working with Numbers

In [24]:
print(2) #Print a number

2

In [25]:
print(2.45674) #Decimal Number

2.45674

In [26]:
print(-5.45674) #Negative Number

-5.45674

In [27]:
print(-5.45674)

-5.45674

In [28]:
#Arithmetics
print(3+4)

7

In [29]:
print(3+4.5)

7.5

In [30]:
print(3+4.5)
print(3-4.5)
print(3*4.5)
print(3/4.5)

7.5
-1.5
13.5
0.6666666666666666

In [31]:
#Complex mathematics
print(3*4+5)

17

In [32]:
#change the order of operation
print(3*(4+5))

27

In [33]:
#Modulus opreator
print(10%3) #Remainder

1

In [34]:
#Saving inside a variable
my_num = 5
print(my_num)

5

In [35]:
#To convert this number into a string
my_num = 5
print(str(my_num)+" my favorite number")

5 my favorite number

Anytime you print a number along with a string,
make sure that you have converted the number into a string

In [36]:
#Functions with Number

In [37]:
my_num=-5
print(abs(my_num)) #To print the absolute value

5

In [38]:
print(pow(3,2)) #power 3**2

9

In [39]:
print(max(4,19)) #To print the maximun of 2 numbers

19

In [40]:
print(min(4,19)) #To print the minimun of 2 numbers

4

In [41]:
print(round(3.2)) #To round a number

3

In [42]:
print(round(3.7))

4

In [43]:
from math import *
print(floor(3.7)) #To neglect the decimal part

3

In [44]:
from math import *
print(ceil(3.7)) #Round the number

4

In [45]:
print(sqrt(36)) #squareroot

6.0

# Getting Input From Users

In [46]:
name = input("Enter your name: ")
print("Hello "+name+"!")

Enter your name: Ayshh
Hello Ayshh!

In [47]:
name = input("Enter your name: ")
age = input("Enter your age: ")
print("Hello "+name+"! "+"You are "+age)

Enter your name: Ayshh
Enter your age: 25
Hello Ayshh! You are 25

# Building a Basic Calculator

In [48]:
num1 = input("Enter a number ")
num2 = input("Enter another number ")
result = int(num1) + int(num2)
print(result)

Enter a number 6
Enter another number 4
10

In [49]:
num1 = input("Enter a number ")
num2 = input("Enter another number ")
result = float(num1) + float(num2)
print(result)

Enter a number 6
Enter another number 8
14.0

# Mad Libs Game

In [50]:
print("Roses are red")
print("Violets are blue")
print("I love you")

Roses are red
Violets are blue
I love you

In [51]:
color = input("Enter a color: ")
plural_noun = input("Enter a plural_noun: ")
celebrity = input("Enter a celebrity: ")
print("Roses are " + color)
print(plural_noun + " are blue")
print("I love "+celebrity)

Enter a color: Yellow
Enter a plural_noun: Stars
Enter a celebrity: Rio
Roses are Yellow
Stars are blue
I love Rio